<h1>Round <%= @round.game.rounds.size %> Results</h1>

<h2>Players:</h2>
<% @round.players.each do |player| %>
  <p>
  <%= player.name %><br>
  Amt: <%= player.choice_for(@round).guess_ammount %>
  </p>
<% end %>

<h3>The Item Price Was <%=@round.item.price%></h3>

<br>

<h1>Winner: <%= if !!@round.get_winner then @round.get_winner.name else 'No Winner This Round' end%></h1>

<br>

<% if @round.game.rounds.size < @round.game.num_rounds %>
  <%= button_to "Next Round", rounds_path({game_id: @round.game_id}) %>
<% else %>
  <%= button_to "Final Screen", final_game_path(@round.game) %>
<% end %>
