<h1>Round <%= @round.game.rounds.size %> Results</h1>

<h2>Players:</h2>
<% @round.players.each do |player| %>
  <p>
  <%= player.name %><br>
  <% c = player.choices.find{|c| c.round_id == @round.id} %>
  Amt: <%= c.guess_ammount %>
  </p>
<% end %>

<h3>The Item Price Was <%=@round.items.first.price%></h3>

<br>
<% winner = nil %>
<% @round.players.each do |player| %>
  <% if player.choices.find{|c| c.round_id == @round.id}.guess_ammount <= @round.items.first.price %>
    <% if !!winner %>
      <% if player.choices.find{|c| c.round_id == @round.id}.guess_ammount > winner.choices.find{|c| c.round_id == @round.id}.guess_ammount %>
        <% winner = player.name %>
      <% end %>
    <% else %>
      <% winner = player.name %>
    <% end %>
  <% else %>
    <% winner = "There was no winner this round." %>
  <% end %>
<% end %>

<h1>Winner: <%= winner %></h1>

<br>


<%= button_to "Next Round", rounds_path({game_id: @round.game_id}) %>
