<h1>Round <%= @round.game.rounds.size %> Results</h1>

<h2>Players:</h2>
<% @round.players.each do |player| %>
  <p>
  <%= player.name %><br>
  <% tmp_choice = player.choices.find{|c| c.round_id == @round.id} %>
  Amt: <%= tmp_choice.guess_ammount %>
  </p>
<% end %>

<h3>The Item Price Was <%=@round.item.price%></h3>

<br>
<% winner = nil %>
<% @round.players.each do |player| %>
  <% if player.choices.find{|c| c.round_id == @round.id}.guess_ammount <= @round.item.price %>
    <% if !!winner %>
      <% if player.choices.find{|c| c.round_id == @round.id}.guess_ammount > winner.choices.find{|c| c.round_id == @round.id}.guess_ammount %>
        <% winner = player %>
      <% end %>
    <% else %>
      <% winner = player %>
    <% end %>
  <% end %>
<% end %>

<h1>Winner: <%= if !!winner then winner.name else 'No Winner This Round' end%></h1>

<br>

<% if @round.game.rounds.size < @round.game.num_rounds %>
  <%= button_to "Next Round", rounds_path({game_id: @round.game_id}) %>
<% else %>
  <%= button_to "Final Screen", final_game_path(@round.game) %>
<% end %>
