<div class = "show">
  <div class="game_info">


<h1>Game name: <%= @game.name %></h1>
<!-- <h2>Room Code: <%= @game.room_code %></h2> -->

<% if !@game.started %>


  <h3>Players:</h3>
  <% @game.players.each do |player| %>
    <p><%= player.name %></p>
  <% end %>


  <% if @game.players.size < 4 %>
    <h3>Add New Player:</h3>
    <%= form_for @player do |f| %>
      <%= f.hidden_field :room_code, :value => @game.room_code %>
      <%= f.text_field :name %>
      <%= f.submit 'Add Player', class: "small_button" %>

    <% end %>
  <% end %>

  <% if !@game.players.empty? %>
    <div class="fancy_button_container"><%= button_to "Start Game", rounds_path({game_id: @game.id}), class: "med_button fancy_button" %></div>
  <% end %>
<% else %>


  <h3>Round <%= @game.rounds.size %></h3>
</div>

<div class="item_container">
  <div class="item_div">
  <p><%= @round.item.name %></p>
  <%= image_tag @round.item.img_url%>
</div>
</div>

  <% color_count = 0 %>
  <% my_colors = ['red', 'blue', 'green', 'yellow'] %>
<div class="player_container">
  <% @game.players.each do |player| %>
    <div class= "player_div_<%=my_colors[color_count]%>">
      <h4> <%= player.name %> </h4>
      <% if choice = player.choice_for(@round) %>
        <p>Guess Amount: <%= choice.guess_ammount %> </p>
      <% else %>
        <% choice = Choice.new %>
        <%= form_for choice do |f| %>
          <%= f.hidden_field :player_id, :value => player.id %>
          <%= f.hidden_field :round_id, :value => @round.id %>
          <%= f.label "Guess Amount" %>
          <%= f.number_field :guess_ammount, class: "input_field" %>
          <%= f.submit "Guess", class: "small_button" %>
        <% end %>
      <% end %>
    </div>
    <% color_count += 1 %>
  <% end %>

  <% if @game.all_players_choices_are_in %>
    <%= button_to "Show Results", round_path(id: @round.id) %>
  <% end %>

<% end %>
</div>
</div>
